// colors

// colors

//$off-orange: #ff6c2f;
//$off-black: black;
//$off-blue: #272c7e;
//$off-light: #ccc;
//$off-white: #fff;

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 56.7rem;